body {
    /* Background image for game */ 
      background-image: url(images/yikes.png);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      width: 1920px ;
      height: 1080px ;
      margin-bottom: 0%;
      overflow: hidden;
    } 

    p {
        color: white;
        font-family:  'Press Start 2P';
        font-size: 40px;
        position: absolute;
        bottom: 150px;
        right: 130px;
    }