body {
    /* Background image for game */ 
      background-image: url(images/homepage.png);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      width: 1920px ;
      height: 1080px ;
      margin-bottom: 0%;
      overflow: hidden;
    } 

    .playb {
        border: none; /* Remove the border */
        padding: 0; /* Remove padding */
        background: none; /* Remove background */
        cursor: pointer;
        
      }
      .playb img {
        width: 300px;
        height: auto;
    }
    
      .playb img:hover {
        filter: brightness(60%);
       
      }
      
      .play{
        position: fixed;
        top: 540px; 
        right:540px;
      }